body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  
  background: #eee;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 460px;
  
  background-color: #fff;

  margin: 0 auto;
  padding: 1rem;

  border-radius: 4px;
}
